<div class="container row" id="show">
  <div class="col-sm-6">
    <h2 id= "show-title"><%= @product.name %></h2>

    <%= image_tag(@product.image_url, class: "img-responsive show-img")%>

  </div>
  <div class="col-sm-6 show-describe">
    <p>
      <strong class="show-cat">Description:</strong>
      <%= @product.description %>
    </p>
  
    <p>
      <strong class="show-cat">Price:</strong>
      <%= number_to_currency(@product.price.to_f, unit: "€", separator: ",") %>
    </p>
    <%= link_to 'Back', products_path %></p>
    <%= @product.highest_rating_comment %>
    <%= render 'new_comment' %>
  
  </div>
</div>