<div class="container show">
  <div class="row" data-product-id="<%= @product.id %>">
  <% cache @product do %>
    <% cache @product do %>
      <div class="col-sm-6 show-product">
        <div class="show-desc">
          <div class="product-image img-responsive">
            <%= image_tag(@product.image_url, class: "image-fluid img-thumbnail img-zoom", width: "350", data_zoom_image: @product.image_url) %>
          </div>
          <div>
            <strong>Name: </strong> <%= @product.name %>
          </div>
          <div>
            <strong>Price: </strong> <%= number_to_currency(@product.price, :unit => "€") %>
          </div>
          <div>
            <strong>Description: </strong><%= @product.description %>
          </div>
          <div>
            <p>Average Rating:
              <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>
            </p>
          </div>
          <%= form_with(url: '/payments/create') do |form| %>
            <%= render partial: "shared/stripe_checkout_button" %>
            <%= hidden_field_tag(:product_id, @product.id) %>
          <% end %>
          <% end %>
        </div>
      </div>
    <% end %>  
      </div>
      </div>

      <div class="comments">
        <div>
        <%= render "new_comment" %>
        </div>
        <div>
        <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
        <%= render 'comments' %>
        </div>
      </div>
    
  <div class="product-buttons">
    <% if current_user %>
      <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-primary"  %>
    <% end %>
    <%= link_to 'Back', products_path, class: "btn btn-success"  %>
    <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
  </div>
</div>
